#LEVEL1Heading{color :#6CA368;}
.LEVEL1Heading{color :#A35885;}
p::first-letter {
    color: red;
    font-size: 150%;
  }

  p::first-line {
    color: rgb(247, 0, 255);
    font-size: 100%;
  }
  .wrapper {
    display: grid;
    grid-template-rows: 10fr 5fr 20fr 20fr;
    grid-gap: 10px;
    height: 720px;
  }

  footer {
    border-top: 1px solid black; clear: both;
    margin-top: 0.5px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 7;}
    
    p {
        
      padding: 0;
      display:flex;
      justify-content:center;
     }

     h3 { 
      padding: 0;
      display:flex;
      justify-content:center;

     }